<%= link_to "中文版", locale_new_path( locale: "zh-TW") %>
<%= link_to "English", locale_new_path( locale: "en") %>

<p> <%= t(:hello) %> </p>

<p> <%= t("admin.event") %> </p>
<p> <%= t(:event, scope: :admin) %> </p>

<p> <%= t(:deer, name: "Bezzare") %> </p>
